<h2>Validacion de Rut Chileno</h2>
<h4>Detecta el pulso de teclas para dar formato y cambio de imput para validar</h4>
<input type="text" class="form-control" (keyup)="mask()" [(ngModel)]="name" (change)="validRut()" #ctrl="ngModel" placeholder="Ingrese Rut">

<div *ngIf="!valido && name" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Aviso!</strong> El rut es invalido
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
