<!-- <nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">Listar registros</div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">Ingresar nuevos registros</div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">Eliminar Registros</div>
</div> -->

<h3>Bienvenido al Blog</h3>
<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Botones para notificaciones
          </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
               se instalo un componente para crear alertas mejores que las de boostrap
            </div>
            <button mat-raised-button color="primary" (click)="showCustom()">showCustom</button>
            <button mat-raised-button color="primary" (click)="showInfo()">showInfo</button>
            <button mat-raised-button color="primary" (click)="showWarning()">showWarning</button>
            <button mat-raised-button color="primary" (click)="showError()">showError</button>
            <button mat-raised-button color="primary" (click)="showSuccess()">showSuccess</button>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Nuevo editor de texto mejorado y altamente personalizado
          </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <!-- <editor apiKey="00d3fb7m8osf8jwt3fnyip8gj4x9f4ubigmmna1o5uvclmos" [init]="{plugins: 'link'}"></editor> -->
                <editor [init]="configuracion"></editor>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Lista ordenado por un componente instalado
          </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
               aqui se prueba un metodo de ordamiento de un componente muy util para utilizar en angular
            </div>
            <ul>
                <li *ngFor="let item of array | orderBy: order">
                  {{ item.name }}
                </li>
              </ul> 
        </div>
    </div>
</div>
<h3>Ahora se realiza una prueba llamando a cada ruta hija con su componente correspondiente</h3>
<div class="button-row">
    <button mat-raised-button [routerLink]="['listar']">Listar</button>
    <button mat-raised-button color="primary" [routerLink]="['ingresar']">Ingresar</button>
    <button mat-raised-button color="warn" [routerLink]="['eliminar']">Eliminar</button>

</div>
<div class="shadow p-3 mb-5 mt-3 bg-white rounded">

    <router-outlet></router-outlet>
</div>