<div style="display: flex; justify-content: space-between; background-color: grey">
    <div style="background-image: url('assets/documento.jpg');background-repeat: no-repeat; width: 350px; height: 500px; background-size: contain">
        <!-- <img src="assets/documento.jpg" width="350" height="500" alt=""> -->
        <qr-code [value]="codigo" [size]="80" style="position: relative" [style.top.px]="y" [style.left.px]="x"></qr-code>
    </div>
    <div style="background-image: url('assets/documento.jpg');background-repeat: no-repeat; width: 350px; height: 500px; background-size: contain">
        <!-- <img src="assets/documento.jpg" width="350" height="500" alt=""> -->
        <qr-code [value]="codigo" [size]="80" style="position: relative" [style.top.px]="y" [style.left.px]="x"></qr-code>
    </div>
    <div style="display: flex;  justify-items: center; align-items: center">
        <div style="display: flex; flex-direction: column;">
            <label for="">Texto o codigo</label>
            <input type="text" [(ngModel)]="codigo" style="margin: 5px">
            <label for="">Eje Horizontal</label>
            <input type="text" [(ngModel)]="x" style="margin: 5px">
            <label for="">Eje Vertical</label>
            <input type="text" [(ngModel)]="y" style="margin: 5px">
        </div>
    </div>
</div>