<h1>Formularios y validación en Angular 2</h1>

<!-- Le ponemos nombre al formulario y cuando se envié que lance un método -->


<form #usuarioForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-4">
    <p>
        <label>Nombre:</label>

        <!-- le ponemos nombre a este input, con ngControl hacemos un control de la validación, hacemos un two way databinding con ngModel y definimos unas reglas de validación html5-->
        <input class="form-control" type="text" #nombre="ngForm" ngControl="nombre" [(ngModel)]="usuario.nombre" required minlength="4" />

        <!-- Comprobamos si el campo está modificado y es válido para mostrar un mensaje -->
        <span *ngIf="!nombre.valid && nombre.touched">El nombre es obligatorio</span>
    </p>
    <!-- <p>
        <label>Apellidos:</label>
        <input class="form-control" type="text" #apellidos="ngForm" ngControl="apellidos" [(ngModel)]="usuario.apellidos" required pattern="[A-Za-z]*" />
        <span *ngIf="!apellidos.valid && apellidos.touched">Los apellidos son obligatorios</span>
    </p>
    <p>
        <label>Email:</label>
        <input class="form-control" type="email" #email="ngForm" ngControl="email" [(ngModel)]="usuario.email" required/>
        <span *ngIf="!email.valid && email.touched">El email es obligatorio</span>
    </p>
    <p>
        <label>Contraseña:</label>
        <input class="form-control" type="password" #password="ngForm" ngControl="password" [(ngModel)]="usuario.password" required />
        <span *ngIf="!password.valid && password.touched">La contraseña es obligatorio</span>
    </p>
    <input type="submit" value="Enviar" class="btn btn-success" /> -->
</form>