<div id="imagen" style="display:inline-flex ; padding: 10px; border: cadetblue solid 5px; text-align: center;">
    <div class="rotate" style="position: relative; background: blue;">
        <h1 style="color: brown;">{{texto}}</h1>
    </div>

    <div class="rotar1">Uterra.Com - 1</div>
    <div class="rotar2">Uterra.Com - 2</div>
    <div class="rotar3">Uterra.Com - 3</div>
    <div class="rotar4">Uterra.Com - 4</div>

</div>
<input type="text" [(ngModel)]="texto" name="text">
<button id="boton-descarga" (click)="downloadCanvas('imagen', 'imagen.png')">Descargar imagen</button>