<div style="display: flex; justify-content: space-between; background-color: darkkhaki">
    <div style=" height: 800px; width: 650px; background-image: url('assets/documento.jpg')">
        <qr-code [value]="codigo" style="position: absolute" [style.top.px]="y" [style.left.px]="x"></qr-code>
    </div>
    <div style="display: flex;  justify-items: center; align-items: center">
        <div style="display: flex; flex-direction: column;">
            <label for="">Texto o codigo</label>
            <input type="text" [(ngModel)]="codigo" style="margin: 5px">
            <label for="">Eje Horizontal</label>
            <input type="text" [(ngModel)]="x" style="margin: 5px">
            <label for="">Eje Vertical</label>
            <input type="text" [(ngModel)]="y" style="margin: 5px">
        </div>
    </div>
</div>